cartoframes
catboost
dash-bootstrap-components
dash-extensions
dash-leaflet
flask-jwt
fuzzywuzzy
geocoder
geopy
googlemaps
imbalanced-learn
jsbeautifier
leafmap
loguru
mpu
openpyxl
overpy
pgeocode
pip-chill
pipwin
plotly-express
pony
rtree
scikit-posthocs
sklearn
streamlit-folium
turfpy
uszipcode
xgboost
yellowbrick
smart_open[s3]
pandas==1.3.4
branca==0.3.1
streamlit
Jinja2
